.intro .container {
    display: flex;
    position: relative;

    @include mobile {
        flex-direction: column-reverse;
        padding-right: 0;
    }
}

.intro {
    & p {
        margin: 0;
        font-weight: 400;
        font-size: 1.45vw;
        color: #496432;
        max-width: 67%;

        @include mobile{
            max-width: none;
            font-size: 4.9vw;
            margin-right: 2vw;
            margin-bottom: 5vw;
        }
    }
}

.intro_left {
    padding-top: 4.5vw;
    padding-bottom: 1.5vw;
    max-width: 72vw;
    background-repeat: no-repeat;
    background-size: contain;
    
    @include mobile{
        max-width: none;
        background-size: cover;
        padding-bottom: 3vw;
    }
}

.intro_left_title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 4.8vw;
    line-height: 111%;
    text-transform: uppercase;
    color: #496432;
    margin-bottom: 1.9vw;

    @include mobile{
        font-size: 9vw;
    }
}

.intro_right {
    position: absolute;
    right: -5vw;
    top: 0;
    z-index: 1;

    @include mobile {
        position: static;
    }

    & img {
        // width: 100%;
        width: 44vw;

        @include mobile {
            width: 100%;
        }
    }
}