.product {
    position: relative;
    margin-top: 5.5vw;

    & .container {
        @include mobile {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.product_decor {
    position: absolute;
    z-index: 1;

    &.--left {
        left: 1vw;
        top: 0;

        @include mobile {
            top: -20vw;
        }

        & img {
            width: 10.8vw;

            @include mobile {
                width: 28.5vw;
            }
        }
    }

    &.--right {
        right: 0;
        top: -6.5vw;

        @include mobile{
            bottom: -40vw;
            top: unset;
        }

        & img {
            width: 16vw;

            @include mobile{
                width: 46vw;
            }
        }
    }
}

.product_inner {}

.product_inner_lists {

    @include mobile {
        width: 100%;
    }

    & li {
        position: absolute;
        transition: all 0.3s linear;
        left: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mobile {
            position: static;
        }

        & * {
            transition: all 0.5s linear;
        }

        & h3 {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 2.1vw;
            line-height: 105%;
            text-align: center;
            color: #496432;
            margin: 0;
            transition: all 0.5s linear;

            @include mobile {
                font-size: 5.5vw;
            }
        }

        & p {
            margin: 0;
            height: 0;
            font-size: 1.2vw;
            font-family: var(--font-family);
            font-weight: 400;
            text-align: center;
            color: var(--accent-color);
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s linear;

            @include mobile {
                font-size: 3.7vw;
            }
        }

        &:nth-child(1) {
            top: -1vw;
            width: 18vw;
            left: 90%;
            height: 10.5vw;
            z-index: 2;

            @include mobile {
                display: none;
            }

            & h3 {
                max-width: 11vw;
            }

            @media (hover:hover) {
                &:hover {
                    opacity: 0;

                    &+li {
                        opacity: 1;
                    }
                }
            }

        }

        &:nth-child(2) {
            opacity: 0;
            width: 25vw;
            height: 16vw;
            top: -8%;
            left: 90%;

            @include mobile {
                opacity: 1;
                margin-left: auto;
                width: 65vw;
                height: 47vw;
                background-position: right;
                background-image: url(../images/product/Vector5.svg) !important;
            }

            & h3 {
                max-width: 15vw;
                margin-bottom: 0.8vw;

                @include mobile {
                    max-width: 40vw;
                    margin-left: -12vw;
                }
            }

            & p {
                height: auto;
                opacity: 1;
                visibility: visible;
                max-width: 20vw;

                @include mobile {
                    max-width: 62vw;
                }
            }
        }

        &:nth-child(3) {
            top: 25%;
            width: 17vw;
            height: 10vw;
            z-index: 2;
            left: 94%;

            @media (hover:hover) {
                &:hover {
                    opacity: 0;

                    &+li {
                        opacity: 1;
                    }
                }
            }

            @include mobile {
                display: none;
            }
        }

        &:nth-child(4) {
            opacity: 0;
            top: 21.5%;
            width: 25vw;
            height: 15vw;
            left: 94%;

            @include mobile {
                background-image: url(../images/product/Vector6.svg) !important;
                width: 76vw;
                height: 41vw;
                opacity: 1;
            }


            & h3 {
                max-width: 15vw;
                margin-bottom: 0.8vw;
                margin-left: -1vw;

                @include mobile {
                    max-width: none;
                }
            }

            & p {
                height: auto;
                opacity: 1;
                visibility: visible;
                max-width: 20vw;
                margin-left: -1vw;

                @include mobile {
                    max-width: 60vw;
                }
            }
        }

        &:nth-child(5) {
            top: 52%;
            width: 16vw;
            left: 85%;
            height: 10vw;
            z-index: 2;

            @include mobile {
                display: none;
            }

            @media (hover:hover) {
                &:hover {
                    opacity: 0;

                    &+li {
                        opacity: 1;
                    }
                }
            }
        }

        &:nth-child(6) {
            opacity: 0;
            top: 46%;
            width: 30vw;
            left: 91%;
            height: 17vw;

            @include mobile {
                background-image: url(../images/product/Vector8.svg) !important;
                width: 74vw;
                height: 50vw;
                opacity: 1;
                margin-top: 53vw;
                margin-left: auto;
                background-position: right;
            }

            & h3 {
                max-width: 15vw;
                margin-bottom: 0.8vw;
                margin-left: -1vw;
                margin-top: -2vw;

                @include mobile{
                    max-width: none;
                    margin-left: 19vw;
                    margin-top: -4vw;
                }
            }

            & p {
                height: auto;
                opacity: 1;
                visibility: visible;
                max-width: 25vw;
                margin-left: -1.5vw;

                @include mobile{
                    max-width: 50vw;
                    margin-left: 18vw;
                }
            }
        }

        &:nth-child(7) {
            top: 70%;
            left: 65%;
            width: 38vw;
            height: 17vw;
            z-index: 2;

            @include mobile {
                display: none;
            }

            & h3 {
                margin-top: -2vw;
                margin-left: -3vw;
            }

            @media (hover:hover) {
                &:hover {
                    opacity: 0;

                    &+li {
                        opacity: 1;
                    }
                }
            }
        }

        &:nth-child(8) {
            opacity: 0;
            top: 70%;
            width: 42vw;
            left: 65%;
            height: 19.5vw;

            @include mobile {
                background-image: url(../images/product/Vector9.svg) !important;
                width: 100vw;
                height: 70vw;
                opacity: 1;
                margin-top: -18vw;
            }

            & h3 {
                max-width: 36vw;
                margin-bottom: 0.8vw;
                margin-left: -7vw;

                @include mobile{
                    max-width: 70vw;
                    margin-left: -30vw;
                }
            }

            & p {
                height: auto;
                opacity: 1;
                visibility: visible;
                max-width: 31vw;
                margin-left: -4vw;

                @include mobile{
                    max-width: 70vw;
                    margin-left: -28vw;
                }
            }
        }
    }
}

.product_image {
    position: relative;
    max-width: max-content;

    @include mobile {
        max-width: none;
    }

    & img {
        width: 62.5vw;

        @include mobile {
            position: absolute;
            width: 96vw;
            height: 82vw;
            top: 70vw;
            right: -4vw;
            z-index: -1;
        }
    }
}