
 :root {
    // base
    --font-family: "Geometria", sans-serif;
    --second-family: "Amatic SC", sans-serif;
    --content-width: 1920px;
    --content-fluid-width: 1690px;
    --container-offset: 30px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  
    // colors
    --light-color: #fff;
    --accent-color: #607045;
    --accent-color-two: #496432;
    --dark-color:#141024;
    --text-colot: rgba(#141024, 0.7);
  
  }
