<footer class="footer" style="background-image: url(./assets/images/footer/Maskfooter.png);">
    <div class="container">
        <div class="footer_inner">
            <div class="footer_left">
                <span> По вопросам качества </span>
                <a class="footer_left_phone" href="tel:880020070080">8-800 200-70-80</a>
                <span>(бесплатный звонок по России)</span>
            </div>
            <div class="footer_center">
                <small>© 2021 АО «УК ЭФКО»</small>
                <a class="footer_center_site" href="https://www.efko.ru/">efko.ru</a>
            </div>
            <ul class="footer_right list-reset">
                <li>
                    <img src="./assets/images/footer/Message.svg" alt="message">
                    <a href="">Контакты дистрибьютеров</a>
                </li>
                <li>
                    <img src="../assets/images/footer/question.svg" alt="question">
                    <a href="">Задать вопрос</a>
                </li>
            </ul>
        </div>
    </div>
</footer>