<header class="header" style="background-image: url(./assets/images/header/header.png);">
    <div class="container">
        <div class="header_inner">
            <a href="" class="img-wrap">
                <img src="./assets/images/header/logo.svg" alt="logo" width="300" height="70">
            </a>
            <nav>
                <ul class="header_inner_menu">
                    <li><a href="">Главная</a></li>
                    <li><a href="">О продукте</a></li>
                    <li><a href="">Вегамасло</a></li>
                    <li><a href="">Рецепты</a></li>
                    <li><a href="">Где купить</a></li>
                </ul>
            </nav>
            <a href="" class="header_inner_social">
                <img src="./assets/images/header/VK.svg" alt="vk" width="62" height="36">
            </a>
        </div>
    </div>
    <img src="./assets/images/header/listik-left.svg" class="header_dekor --left" alt="listik" width="200" height="200">
    <img src="./assets/images/header/list-right.svg" class="header_dekor --right" alt="listik" width="250" height="260">
</header>